kestra/workflows/ingest-github-profile.yml
id: ingest-github-profile
namespace: resume-agent
tasks:
  - id: fetch-profile
    type: io.kestra.plugin.http.Get
    settings:
      uri: "https://api.github.com/users/{{ inputs.github_user }}"
      headers:
        Accept: application/vnd.github.v3+json

  - id: fetch-repos
    type: io.kestra.plugin.http.Get
    settings:
      uri: "https://api.github.com/users/{{ inputs.github_user }}/repos?per_page=100"
      headers:
        Accept: application/vnd.github.v3+json

  - id: call-backend
    type: io.kestra.plugin.http.Post
    settings:
      uri: "{{ inputs.backend_url }}/api/resume/analyze"
      headers:
        Content-Type: application/json
      body: |
        {
          "text": "GitHub Profile: {{ outputs.fetch-profile.body }}\n\nRepositories: {{ outputs.fetch-repos.body | jq -r '.[] | \"- \(.name): \(.description // \"\") (\(.language // \"Unknown\"), \(.stargazers_count // 0) stars, \(.forks_count // 0) forks)\"' | join('\n') }}",
          "kind": "github-profile"
        }

inputs:
  - id: github_user
    type: STRING
  - id: backend_url
    type: STRING
